version: "3"

volumes:
  postgres_data:

services:
  db_postgres:
    image: postgres:16.4
    container_name: ${POSTGRES_DB}
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  app:
    build: ./
    depends_on:
      - db_postgres
    env_file:
      - .env
    volumes:
      - ./logs:/app/logs
    restart: unless-stopped
